<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
</head>
<body>
  <a href="{% url 'inicio' %}">
    <button type="submit">
      ← Volver al inicio
    </button>
  </a>
  <br>
  <h1>Clientes</h1>
  <h2>Seleccione el servicio que desea gestionar:</h2>
  <ul>
    <li>
      <a href="{% url 'listar_clientes' %}">Listar clientes</a>
    </li>
    <li>
      <a href="{% url 'agregar_clientes' %}">Crear clientes</a>
    </li>
  </ul>
</body>
</html>
