<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Ventas para Local de Tecnología</title>
</head>
<body>
    <h1>Sistema de Ventas para Local de Tecnología</h1>
    <h2>Seleccione el servicio que desea gestionar:</h2>
    <ul>
      <li>
        <a href="{% url 'categorias' %}">Categorias</a>
      </li>
      <li>
        <a href="{% url 'clientes' %}">clientes</a>
      </li>
      <li>
        <a href="{% url 'productos' %}">Productos</a>
      </li>
      <li>
        <a href="{% url 'ventas' %}">ventas</a>
      </li>
    </ul>
</body>
</html>
