<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body>
  <a href="{% url 'inicio' %}"></a>
    <button type="submit">
      ← Volver al inicio
    </button>
  </a>
  <br>
  <h1>Productos</h1>
  <h2>Seleccione el servicio que desea gestionar:</h2>
  <ul>
    <li>
      <a href="{% url 'listar_productos' %}">Listar productos</a>
    </li>
    <li>
      <a href="{% url 'agregar_producto' %}">Crear producto</a>
    </li>
  </ul>
</body>
</html>
