<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- CONTENIDO -->
  <h2>{{ producto.nombre }}</h2>
  <p>{{ producto.categoria }}</p>
  <p>{{ producto.descripcion }}</p>
  <p><Strong> &#36 {{ producto.precio }}</Strong></p>
  <p>{{ producto.stock }}</p>
  <!-- BUTONES -->
  <br>
  <a href="{% url 'listar_productos' %}">
    <button type="submit">
      ← Volver a la lista de productos
    </button>
  </a>
  <br>
  <br>
  <a href="{% url 'productos' %}">
    <button type="submit">
      ← Volver a las opciones de productos
    </button>
  </a>
  <br>
  <br>
  <a href="{% url 'inicio' %}">
    <button type="submit">
      Volver al inicio
    </button>
  </a>
</body>
</html>
