<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>lista de productos</h>
<!-- FILTROS -->
  <form method="get">
    Buscar: <input type="text" name="q">
    <button type="submit">Filtrar por nombre o categoria</button>
  </form>
  <form method="get">
    Precio minimo: <input type="number" name="precio_minimo">
    Precio maximo: <input type="number" name="precio_maximo">
    <button type="submit">Filtrar por un rango de precios</button>
  </form>
  <a href="{% url 'listar_productos' %}" class="button">
    <button type="submit">Limpiar Filtros</button>
  </a>
<!-- LISTA -->
  <ul>
    {% for producto in productos %}
      <li>
        {{ producto.nombre }} - {{producto.categoria}} - {{producto.precio}} - {{producto.stock}} - <a href="{% url 'detalle_producto'  producto.pk %}"><Button> Detalle de producto </Button></a> - <a href="{% url 'editar_producto'  producto.pk %}"><Button>Editar producto </Button></a> - <a href="{% url 'eliminar_producto'  producto.pk %}"><Button>Eliminar producto </Button></a>
      </li>
    {% endfor %}
  </ul>
  <br>
  <div>
      {% if productos.has_previous %}
          <a href="?page={{ productos.previous_page_number }}">Anterior</a>
      {% endif %}
      <span>Pagina {{ productos.number }} de {{ productos.paginator.num_pages }}</span>
      {% if productos.has_next %}
          <a href="?page={{ productos.next_page_number }}">Siguente</a>
      {% endif %}
  </div>


<!-- BUTONES -->
  <br>
  <a href="{% url 'agregar_producto' %}">
    <button type="submit">
      Ir a la creacion de producto →
    </button>
  </a>
  <br>
  <br>
  <a href="{% url 'productos' %}">
    <button type="submit">
      ← Volver a las opciones de productos
    </button>
  </a>
  <br>
  <br>
  <a href="{% url 'inicio' %}">
    <button type="submit">
      Volver al inicio
    </button>
  </a>
</body>
</html>
