<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Ventas</title>
</head>
<body>
  <h1>lista de ventas</h>
<!-- FILTROS -->

  <form method="get">
    Buscar: <input type="text" name="q">
    <button type="submit">Filtrar por nombre o cliente</button>
  </form>
  <form method="get">
      Fecha minima: <input name="fecha_min" >
      Fecha maxima: <input name="fecha_max">
    <button type="submit">Filtrar por un rango de fechas</button>
  </form>
  <a href="{% url 'listar_ventas' %}" class="button">
    <button type="submit">Limpiar Filtros</button>
  </a>

<!-- LISTA -->
  <ul>
    {% for venta in ventas %}
      <li>
        {{ venta.producto }} - {{venta.cliente}} - {{venta.cantidad}} - ${{venta.total}} -<a href="{% url 'detalle_venta'  venta.pk %}"><Button> Detalle de venta </Button></a> - <a href="{% url 'editar_venta'  venta.pk %}"><Button>Editar producto </Button></a> - <a href="{% url 'eliminar_venta'  venta.pk %}"><Button>Eliminar producto </Button></a>
      </li>
    {% endfor %}
  </ul>
  <br>
  <div>
      {% if ventas.has_previous %}
          <a href="?page={{ ventas.previous_page_number }}">Anterior</a>
      {% endif %}
      <span>Pagina {{ ventas.number }} de {{ ventas.paginator.num_pages }}</span>
      {% if ventas.has_next %}
          <a href="?page={{ ventas.next_page_number }}">Siguente</a>
      {% endif %}
  </div>


<!-- BUTONES -->
  <br>
  <a href="{% url 'agregar_venta' %}">
    <button type="submit">
      Ir a la creacion de venta →
    </button>
  </a>
  <br>
  <br>
  <a href="{% url 'ventas' %}">
    <button type="submit">
      ← Volver a las opciones de ventas
    </button>
  </a>
  <br>
  <br>
  <a href="{% url 'inicio' %}">
    <button type="submit">
      Volver al inicio
    </button>
  </a>
</body>
</html>
